@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  width: 100%;
}

/* LIGHT MODE */
:root {
  --color-bg: #EEF2EF;
  --color-surface:#FFFFFF;
  --color-card:  #F7F9F7;
  --color-border: #E3E7E3;


  --color-primary: #6E8F80;
  --color-primary-hover: #5F7F71;
  --color-accent: #8FAF9D;

  --color-text-heading:#50554f;
  --color-text-subheading:#8c8c8c;
  --color-text-primary: #2E3432;
  --color-text-secondary: #6B726F;
  --color-text-muted: #9BA3A0;
}

/* DARK MODE */
.dark {
  --color-bg: #1C2321;
  --color-surface: #222B28;
  --color-card: #26302D;
  --color-border: #39423F;

  --color-primary: #8FAF9D;
  --color-primary-hover: #9EBDAA;
  --color-accent: #A9C6B6;

  --color-text-heading:#50554f;
   --color-text-subheading:#8c8c8c;
  --color-text-primary: #E6ECE9;
  --color-text-secondary: #B7C1BC;
  --color-text-muted: #8C9792;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}



